/***events_css.css***/

/**Component Styling **/
#jevents_body{
    width:100%;
    border:none;
}
div.ev_navigation tr, div.ev_navigation td{
    border:none;
}
#jevents_header {display: none;}
#jevents_body td {
    border:none;
    padding: 0;
}
#jevents_body table.cal_table td {
    border: 1px solid #ddd
}
#jevents_body div.ev_navigation table td {
    border: none;
    padding: 0 5px;
}
.jeventslight{
    color:#000000;
}
div.ev_navigation {margin-bottom: 10px}


/** Calendar style **/
#cal_title {
    margin: 0 auto;
    font-weight: normal;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-decoration: none;
    text-align:center;
    padding: 0;
    background: #bbb;
    border-radius: 3px 3px 0 0;
}
.cell-title {padding: 5px; font-size: 11px; line-height: 12px; background: #f7f7f7;}
.cal-day-name, .cal-month {display: none}
#jevents_body tr td.cal_td_daysnames {
    height:25px;
    line-height:25px;
    color:black;
    background-color:#ddd;
    font-weight:bold;
    text-align:center;
}
table.cal_table tr:nth-child(odd) td {background: #f0f0f0;}

#jevents_body td.cal_td_daysoutofmonth {
    color: #ccc;
    padding: 5px;
    background: #bbb;
    font-size: 12px;
}
table td.cal_td_dayshasevents a.cal_daylink,
table td.cal_td_dayshasevents a.cal_daylink:visited {
    color: white;
    text-decoration: none;
    background-color: #bbb;
    position: relative;
}
table td.cal_td_today a.cal_daylink {background: #555; color: white;}

.cal_td_today span.calendar-date:after {
    content: "\00a0\00a0Today";
    font-variant: small-caps;
    padding: 0 7px;
}

.cal_td_dayshasevents a.cal_daylink:hover, .cal_td_today a.cal_daylink:hover {cursor: pointer;}
a.cal_daylink:link, a.cal_daylink:visited {color: black; text-decoration: none; cursor: default; padding: 5px; display: block;}
a.cal_daylink:hover {text-decoration: none;}

#jevents_body td.cal_td_weeklink {
    background-color: #f9f9f9;
    vertical-align:middle;
    padding: 5px;
}
.cal_td_weeklink a {
    font-size:10px;
    color:#dedede !important;
    text-decoration: none;
}

/** Calendar Tool Tip Styling - Mootools ToolTip for JEvents Calendar **/
.jevtip div.tip-text {
    display: none;
}
.jevtip div.tip-title {
    font-size: 13px;
    font-weight: bold;
    background: #fff;
    color: #4a4a4a;
    border: 2px solid #555;
    padding: 9px 9px 6px 9px;
    z-index: 99999;
    box-shadow: 0px 3px 18px rgba(0,0,0,0.35);
    width: 250px;
}
.jevtip .jevtt_title {padding: 5px; border-style: solid; border-width: 1px 1px 1px 10px; border-radius: 2px; font-size: 16px; font-weight: normal}
.jevtip .jevtt_text {padding: 5px 10px; color: #777; font-weight: normal;}

small.tapper {display: none;}


/** List style **/
ul.ev_ul {
    list-style:none;
    padding:0px;
    margin:5px;
}
#jevents_body ul.ev_ul li.ev_td_li {
    border-top: 1px solid #efefef;
    width: 100%;
    padding: 5px 0;
    display: table;
}

li.ev_td_li .cat-indicator-container {display: table-cell; vertical-align: middle; width: 25px}
li.ev_td_li .cat-indicator {position: static;}

#jevents_body ul.ev_ul li.ev_td_li:first-child {border: 0}
a.ev_link_cat, a.ev_link_cat:visited  {
    color: #aaa !important;
    text-decoration:none;
    font-size: 11px;
}
a.ev_link_cat:before {content: "\00bb \00a0";}
a.ev_link_cat:hover  {
    text-decoration: underline;
}
a.ev_link_row, a.ev_link_row:visited  {
    text-decoration:none;
}
a.ev_link_row:hover  {
    text-decoration: underline;
}

legend.ev_fieldset {display: none;}
.jev_catdesc {
    margin-bottom:4px;
}

table.ev_table {margin: 0 0 10px; width: 100%;}
table.ev_table.search-fix {width: 99.9%} /* to fix border issue */
#jevents_body table.ev_table td {border: 1px solid #ddd; vertical-align: middle}
#jevents_body table.ev_table td.cal_td_daysnames,
td.cal_td_event_name, .mc-event-details-title {
    margin:0 auto;
    font-weight: normal;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-decoration: none;
    text-align:center;
    padding: 0;
    background: #bbb;
    border-radius: 3px 3px 0 0;
    border-color: transparent
}
#jevents_body .ev_td_right {
}
#jevents_body table.ev_table td.ev_td_left, #jevents_body td.ev_td_today {
    background-color: #efefef;
    text-align: left;
    vertical-align: top;
    padding: 8px 5px;
}
#jevents_body table.ev_table td.ev_td_left {width: 20%;vertical-align: middle}
#jevents_body td.ev_td_today {
    background-color: #bbb;
}
#jevents_body td.ev_td_today a {color: white}
a.ev_link_weekday:link, a.ev_link_weekday:visited  {
    color: #333;
    text-decoration:none;
    cursor: default;
}
.ev_repeatexception:before {content: "*";}

/** Event Details **/
div.mc-event-details {padding-top: 20px; overflow: hidden;}
.mc-event-details div.event-time {padding: 5px 10px; background: #f0f0f0; margin-bottom: 15px;}
.mc-event-details .event-date-separator:before {content: ''; display: block}
.location-container {float: right; max-width: 322px; background: white; overflow: hidden;}
.location-container > div.location-info {position: relative; left: 20px;}
#gmap {border: 1px solid #ccc !important; margin: 20px 0 20px 20px; height: 270px !important; width: 300px !important;}
.event-more-info {margin: 10px 0;}

#ical_dialog {top: auto !important; bottom: 0;}

/* Calendar navigaton area */
div.ev_navigation table{
    margin: 0px auto !important;
}

div.jev_pagination div.limit,
div.jev_pagination div.counter {margin: 10px 0;}

div.jev_pagination .pagenav {padding: 0 1px}

/** Icon calendar navigation **/

td.iconic_td {
    margin:0;
    padding:0 !important;
    text-align: center;
    width: 70px
}

div.nav_bar_cal img{
    width:50px;
    border:0;
    display: block;
    margin: 0 auto
}
div.nav_bar_cal a {}
td.iconic_td {
    font-size: 10px;
    margin:0px;
    padding:0px;
}

.arrows {font-size: 10px;}

.arrows a {
    display: block;

}

.arrows a img {
    max-width: 100%;
    height: auto;
    width: 24px;
    display: block;
    margin-top: 5px;
    margin-bottom: 2px;
}

div.jev_pagination {
    width:100%;
    text-align:center;
}

/* Event Legend Module Styling */
tr.dialogs, tr.dialogs td, tr.dialogs div{
    z-index:9999;
}
.single-cat {line-height: 24px}
.static-cat {font-size: 12px; color: #a7a7a7;}
.cat-indicator {height: 10px; width: 10px; border-radius: 50%; display: inline-block; margin: 0 5px; position: relative; top: -3px}
.cat-title {font-size: 22px}

div.event-cat-labels {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    background: white;
}

div.event-cat-labels a, div.event-cat-labels a:visited {
    color: #4a4a4a;
    text-decoration: none;
    display: block;
    height: 26px;
    line-height: 26px;
    border-width: 1px 1px 1px 10px;
    border-style: solid;
    border-color: inherit;
    padding: 0 10px;
    background: white;
    border-radius: 2px;
    font-size: 13px;
}
div.event-cat-labels:hover a {opacity: 0.8; color: #7a7a7a;}


/* Print version */
@media print {
    @page {size:landscape;}
    body.contentpane {filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=3); }
    table {background-image:none!important;background-color:white!important;}
    div.ev_navigation {display:none;}
    div.ev_adminpanel {display:none;}
    .ev_noprint {display:none;}
}

/***modstyle.css***/
/** Mini Calendar **/

.mod_events_table, .mod_events_monthyear {
    border: 1px solid #ccc;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    text-decoration: none;
    margin: 0 auto;
    width: 100%;
}
.mod_events_monthyear {
    height: 24px;
    background: #ddd
}
div.mod_events_link {
    text-indent: 110%;
    overflow: hidden;
    width: 20px;
    cursor: pointer;
}
table.mod_events_monthyear td {
    width: 120px;
    vertical-align: middle;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
}
table.mod_events_monthyear td.previousYear, table.mod_events_monthyear td.previousMonth,
table.mod_events_monthyear td.nextYear,table.mod_events_monthyear td.nextMonth {width: 20px;}

td.previousYear div.mod_events_link {
    background: url(https://www.napractice.org/components/com_jevents/views/default/assets/images/jeventsicons/left-arrows.png) center center no-repeat;/* background for local - images should be referenced from jmc-assets*/
    /*background: url(/jmc-assets/calendar-icons/left-arrows.png) center center no-repeat;*/
}
td.previousMonth div.mod_events_link {
    background: url(https://www.napractice.org/components/com_jevents/views/default/assets/images/jeventsicons/left-arrow.png) center center no-repeat;/* background for local - images should be referenced from jmc-assets*/
    /*background: url(/jmc-assets/calendar-icons/left-arrow.png) center center no-repeat;*/
}
td.nextMonth div.mod_events_link {
    background: url(https://www.napractice.org/components/com_jevents/views/default/assets/images/jeventsicons/right-arrow.png) center center no-repeat;/* background for local - images should be referenced from jmc-assets*/
    /*background: url(/jmc-assets/calendar-icons//right-arrow.png) center center no-repeat;*/
}
td.nextYear div.mod_events_link {
    background: url(https://www.napractice.org/components/com_jevents/views/default/assets/images/jeventsicons/right-arrows.png) center center no-repeat;/* background for local - images should be referenced from jmc-assets*/
    /*background: url(/jmc-assets/calendar-icons//right-arrows.png) center center no-repeat;*/
}

.mod_events_monthyear a.mod_events_link,

.mod_events_td_dayname {
    font-weight: bold;
    color: #333;
}
.mod_events_td_dayoutofmonth {
    color: #cdcdcd;
}
table.mod_events_table td a {
    display: block;
    padding: 3px 0;
    text-decoration: none;
    color: #333;

}
table.mod_events_table td.mod_events_td_todaynoevents a {
    background: #333;
    color: white;
    cursor: default;
}
table.mod_events_table td.mod_events_td_todaywithevents a {
    color: white;
    background: #333;
}
.mod_events_td_daynoevents a {
    cursor: default
}

td.mod_events_td_daywithevents, td.mod_events_td_todaynoevents,
td.mod_events_td_todaywithevents, td.mod_events_td_daynoevents {
    width: 14.2857142857%;
    border: 0;
    padding: 0
}
.mod_events_td_daywithevents a.mod_events_daylink,
.mod_events_td_todaywithevents a {
    color: white;
    text-decoration: none;
    background: #bbb;
}
.mod_events_td_daywithevents a.mod_events_daylink:hover,
.mod_events_td_todaywithevents a.mod_events_daylink:hover{
    color: #ddd;
}

/** Upcoming Events Listing **/
table.mod_events_latest_table {
}

.mod_events_latest {
    border-top: 1px solid #ccc;
    border-top: 1px solid rgba(180,180,180,0.8); padding: 5px 0;
}
.mc-event-listing {
    border-style: solid;
    border-width: 0 0 0 5px;
    padding-left: 5px;
    overflow: hidden
}
.mc-event-listing + br {display: none;}
.mod_events_latest_first {padding-bottom: 5px;}

span.multiday + span.event-end-time {display: none}
span.multiday, .mod_events_latest_date {font-size: 10px; line-height: 12px;}
.mod_events_latest_content {display: block; margin-top: 5px;}
.multiday-break {display: block;}

.event-list-cat {float: right; font-size: 9px; color: #777; margin-top: 5px; line-height: 12px}

.mod_events_latest_callink a {
    display: block;
    background: #fff;
    text-decoration: none;
    border-radius: 4px;
    padding: 4px 8px;
    box-shadow: 0px 1px 1px #999;
    text-align: center;
    margin: 5px 5px 0;
}
.mod_events_latest_callink:hover a {background: #333; text-decoration: none; color: white;}

/*** To be added to quickchange area of templates ***/
table td.cal_td_dayshasevents a.cal_daylink, table td.cal_td_dayshasevents a.cal_daylink:visited, /*Full Calendar Event Day*/
#cal_title, #jevents_body table.ev_table td.cal_td_daysnames, td.cal_td_event_name, .mc-event-details-title, /* Calendar Header */
.mod_events_td_daywithevents a.mod_events_daylink, /*minical event day*/
#jevents_body td.ev_td_today /*Week View Today*/
{background-color: #ccc}

.mc-event-details-title {
    height: auto;
    line-height: inherit;
}

a.ev_link_row, a.ev_link_row:visited /* List View Event Link */
{color: #333 !important;}




@media screen and (max-width: 550px) {
    .mc-event-details {position: relative;}
    .location-container {top: auto !important; bottom: 0;padding-left:1em;}
    .location-info {position: static !important;}
    #gmap {margin-left: 0;}
}


.cal-container {border-bottom: 1px solid #ddd; overflow: hidden;}

.cal-container .row {float: left; clear: left; min-height: 80px; width: 99.861111111111%; display: table; border-right: 1px solid #ddd}
.cal-container .row.day-names {height: 40px; min-height: 0; background: #ddd; line-height: 40px; text-align: center; border-right: 0; width: 100%;}
.cal-container .row.day-names .td-cell {border: 0}
.cal-container .td-cell {
    width: 14.126984126984%;
    max-width: 14.126984126984%;
    min-width: 14.126984126984%;
    border-left: 1px solid #ddd;
    max-height: 100%;
    display: table-cell;
}

.ff-min-height {min-height: 80px;}

.cal-cell-event a {border-color: inherit; font-size: 12px; display: block; line-height: 16px; padding: 5px; background: #eee}
.cal-cell-event:hover a {opacity: 0.7;}
.cal-event-container {border-top: 1px solid #ccc !important;}
.cal-cell-event a:before {
    content: '';
    height: 0;
    width: 0;
    display: block;
    float: left;
    border-radius: 50%;
    margin: 5px 5px 0 5px;
    border: 5px solid;
    border-color: inherit;
}

.cal_td_daysoutofmonth {color: #ccc; background: #f7f7f7;}
.cal_td_daysoutofmonth .cell-title {background: #f7f7f7;}

.cal_td_today .cell-title {background: #333; color: #f1f1f1;}

.cal-event-container .resp-event {display: none;}


@media screen and (max-width: 650px){

    .cal-container .row.day-names,
    .cal-container .td-cell.cal_td_daysnoevents,
    .cal-container .td-cell.cal_td_daysoutofmonth {display: none;}

    .cal-container .row, .cal-container .td-cell {display: block; width: auto; max-width: 100%; min-width: 0; float: none; min-height: 0; border: 0}
    .ff-min-height {min-height: 0px;}
    .cal-container .td-cell {margin-bottom: 10px}

    .cal-day-name, .cal-month, small.tapper {display: inline}
    .cell-title {font-size: 16px; padding: 5px; line-height: normal; margin-bottom: 10px}

    .cal-cell-event a {background: none; font-size: 14px;}
    .cal-event-container {border: 0 !important;}
    .cal-container {border: 0 !important}

    .jevtip {left: 50% !important; margin-left: -136px;}

    .cal-event-container .resp-event {display: inline}
    .cal-event-container .date-info {display: none;}

    .resp-event br {display: none}

    .cal-event-container .additional-info {display: block;}

    .cal-event-container .jevtt_text {margin-left: 25px}
    .jevtip.tool-tip {display: none !important;}
}
