/* *** = Theme Customization Starts Here = *** */
	:focus { outline: -webkit-focus-ring-color auto 1px; }
	.hide { display: none!important; visibility: hidden!important; }

/* Secondary Header Styles */
	#top-header { background-color: #800000; }
		@media(max-width: 980px) {
			.et_secondary_nav_only_menu #top-header { display: block;}
		}
	#top-header a { align-items: center; display: flex; }
	#top-header .container { display: flex; padding-top: 0; height: 40px; }
		@media(max-width: 980px) {
			#top-header .container { width: 100%; padding: 0 15px; }
		}
	#top-header .container .et_pb_row { width: 100%; display: flex; align-items: center; padding: 0; max-width: 100%; }
	#top-header .et_pb_column { width: 50%; display: flex; }
	#top-header #uofc { width: 100%; }
		@media(max-width: 450px) {
			#top-header #uofc { width: auto; }
		}
	#top-header #uofc a { font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif; font-size: 12px; text-transform: uppercase; font-weight: 400; }
	#top-header #uofc a:before { content: ''; display: inline-block; width: 30px; height: 25px; margin-right: 8px; background: transparent url(https://d3qi0qp55mx5f5.cloudfront.net/shared-resources/i/template/phoenix.svg) 0 0 no-repeat; -webkit-background-size: 100% 100%; background-size: 100%; }
	#top-header #uofc a span { font-weight: 500; }
		@media(max-width: 450px) {
			#top-header #uofc a span { display: none; }
		}
	#top-header #et-secondary-menu { justify-content: flex-end; width: 100%; display: inline-flex; }
		@media(max-width: 980px) {
			#top-header #et-secondary-menu, #top-header #et-secondary-nav { display: inline-flex!important; }
		}
	#top-header #et-secondary-nav { margin: 0; display: inline-flex; width: 100%; justify-content: flex-end; }
	#top-header #et-secondary-nav li:not(:last-child) { margin: 0 5%; display: flex; }
	#top-header #et-secondary-nav li a { padding-bottom: 0; display: flex!important; border-bottom: 1px dotted; }
	#top-header #et-secondary-nav li a:hover { border-bottom: 1px solid; }

	/* If the Utility Nav is set && :visible, display these styles */
		#top-header #uofc-utility-menu { justify-content: flex-end; width: 100%; display: inline-flex; }
		#top-header #uofc-utility-nav { margin: 0; display: inline-flex; width: 100%; justify-content: flex-end; }
		#top-header #uofc-utility-nav li:not(:last-child) { margin: 0 5%; display: flex; }
		#top-header #uofc-utility-nav li a { padding-bottom: 0; display: flex!important; border-bottom: 1px dotted; }
		#top-header #uofc-utility-nav li a:hover { border-bottom: 1px solid; }

/* Master Header Styles */
	#main-header { border-bottom: none; }
	.logo_container { display: flex; align-items: center; height: 150px!important; max-height: 150px!important; }
	.logo_container .et_pb_column { width: 50%; margin-right: 0; }
	.logo_container .site_logo img { height: 70px; object-fit: contain; }
	.single_logo { justify-content: center; }
	.logo_container .wordmark { text-align: left; }
		@media(max-width: 980px) {
			.logo_container .wordmark { margin-bottom: 0; text-align: center; }
		}
	.logo_container .wordmark img { height: 70px; }
		@media(max-width: 980px) {
			.et_header_style_left .logo_container .wordmark img { max-width: 80%!important; max-height: 80%!important; }
		}
	.logo_container .site_title { display: flex; justify-content: flex-end; align-items: center; margin-right: 0; }
		@media(max-width: 980px) {
			.logo_container .site_title { margin-bottom: 0; justify-content: center; margin-top: 15px; }
		}
	.logo_container .site_title h1 { font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif; font-weight: 300; font-size: 2rem; margin-bottom: 0; padding-bottom: 0; }
		@media(max-width: 670px) {
			.logo_container .site_title h1 { font-size: 1.5rem; }
		}

	/* Navigation Specific Styles */
		.site-navigation { border-top: solid 1px #e0e0e0; background-color: #fafafa; }
		#et-top-navigation { display: flex!important; justify-content: center; align-items: center; }
		#top-menu { margin: 0; height: 47px; display: flex; align-items: center; }
		#top-menu a { transition: none!important; }
		#top-menu li { margin-bottom: 0; padding: 0 15px; height: 100%; }
		#top-menu>li:last-child { padding-right: 15px; }
		#top-menu li:hover:hover:not(.centered-inline-logo-wrap) { border-bottom: 3px solid #800000; }
		#top-menu .menu-item-has-children:hover { border-bottom: 3px solid transparent; }
		#top-menu li:hover a { color: #4D0000!important; font-weight: 600!important; transition: none!important; opacity: 1!important; }
		#top-menu li:hover a:hover { transition: none!important; }
		#top-menu .menu-item-has-children:hover ul li:hover { border-bottom: none; background-color: #800000; }
		#top-menu .menu-item-has-children:hover ul li:hover a:hover { color:white!important; }
		#top-menu .menu-item-has-children>a:first-child:after { top: 15px; }
		#top-menu .sub-menu { margin-left: 0; padding: 0!important; border-top-color: #800000; }
		#top-menu .sub-menu li { padding: 0; width: 100%; }
		#top-menu .sub-menu li a { margin: 0; width: 100%; }
		.mobile_menu_bar:before { color: #800000; }
		.et_mobile_menu { border-color: #800000; }
		.et_mobile_menu .menu-item-has-children>a { background-color: transparent; }
		#mobile_menu .menu-item-type-custom { display: none!important; }
		@media(max-width: 768px) {
			#top-menu-nav { display: none; }
		}

		/* Site Search Styles*/
			#et-top-navigation #et_top_search { margin-top: 0; display: flex; justify-content: center; align-items: center; }
			#et-top-navigation #et_top_search #et_search_icon { color: #800000; }
			#et-top-navigation #et_top_search #et_search_icon:before { top: 3px; position: relative; }
			#et-top-navigation #et_top_search #et_search_icon:hover { color: #4D0000; }
			#et-top-navigation #et_top_search #search_icon_label { text-indent: -99999px; position: absolute; }
			#main-header .et_search_outer { top: 150px; }
			#main-header .et_search_outer .et_pb_search_visible { height: 48px!important; }
			#main-header .et_search_outer .et_pb_search_visible form { max-width: 100%!important; display: flex; justify-content: center; align-items: center; }
			#main-header .et_search_outer .et_pb_search_visible form input { width: 50%; position: relative; margin: 0; }
			#main-header .et_search_outer .et_pb_search_visible form .et_close_search_field { position: relative; margin: 0; }
			#main-header .et_search_outer .et_pb_search_visible #et_top_close { display: flex; align-items: center; color: #800000; }
			#main-header .et_search_outer .et_pb_search_visible #search_close_label { text-indent: -99999px; }
			.container.et_search_form_container.et_pb_search_form_hidden { height: 0 !important; display: none; visibility: hidden; }
			.et_search_form_container:not(.et_pb_search_visible) { display: none; visiblity: hidden; }
			.search-outer div:not(.et_pb_search_form_visible) .et-search-form .et-search-field { height:0; display:none; visibility:hidden; }
			#main-header .et_search_outer .et_pb_search_visible .et-search-field::placeholder { color: black; }

		/* Override Styles for the "Default" Header Style */
			.et_header_style_left #main-header { display: flex; flex-direction: column; justify-content: center; height: 198px; }
			.et_header_style_left #main-header .site-identity { margin: 0; width: 100%; max-width: 100%; display: flex; justify-content: center; }
			.et_header_style_left #main-header .site-identity .logo_container { position: relative; width: 80%; margin: 0; max-width: 1080px; }
				@media(max-width: 768px) {
					.et_header_style_left #main-header .site-identity .logo_container { flex-direction: column; padding-top: 20px; }
				}
			@media(max-width: 980px) {
				.et_header_style_left #main-header .site-identity .logo_container .logo_helper { display: none; }
			}
			@media(max-width: 768px) {
				.et_header_style_left .site-navigation { height: 47px; display: flex; }
			}
			.et_header_style_left #main-header .site-navigation #et-top-navigation { padding: 0!important; width: 100%; }
			.et_header_style_left #main-header .site-navigation #et-top-navigation ul li { display: flex; align-items: center; }
			@media(max-width: 768px) {
				.et_header_style_left #main-header .site-navigation #et-top-navigation ul li:not(.menu-item-type-custom) { display: block!important; }
			}
			.et_header_style_left #main-header .site-navigation #et-top-navigation ul li a { padding-bottom: 0; font-weight: 400; color: #333; }
				@media(max-width: 768px) {
					.et_header_style_left #main-header .site-navigation #et-top-navigation ul li a { padding-bottom: 15px!important; }
				}
			.et_header_style_left #main-header .site-navigation #et-top-navigation .current-menu-item { border-bottom: 3px solid #800000; }
			.et_header_style_left #main-header .site-navigation #et-top-navigation .current-menu-item a { color: #4D0000; font-weight: 600; }
			.et_header_style_left #main-header .site-navigation #et-top-navigation #top-menu .menu-item-has-children>a:first-child:after { top: 0; }
			.et_header_style_left #main-header .site-navigation #et-top-navigation #top-menu .sub-menu  { top: 47px; }
			.et_header_style_left #main-header .site-navigation #et-top-navigation #top-menu .sub-menu li a { padding-bottom: 6px; }
			.et_header_style_left #et-top-navigation .mobile_menu_bar { padding-bottom: 0; }
			@media(min-width: 769px) {
				.et_header_style_left #et-top-navigation #et_mobile_nav_menu { display: none; }
			}

		/* Override Styles for the "Centered" Header Style */
			.et_header_style_centered #main-header { display: flex; flex-direction: column; justify-content: center; height: 198px; }
				@media(max-width: 980px) {
				.et_header_style_centered #main-header { padding: 0; }
			}
			.et_header_style_centered #main-header .site-identity { margin: 0; width: 100%; max-width: 100%; display: flex; justify-content: center; }
			.et_header_style_centered #main-header .site-identity .logo_container { position: relative; width: 80%; margin: 0; max-width: 1080px; }
				@media(max-width: 768px) {
					.et_header_style_centered #main-header .site-identity .logo_container { flex-direction: column; padding-top: 20px; justify-content: center; }
				}
			@media(max-width: 980px) {
				.et_header_style_centered #main-header .site-identity .logo_container .logo_helper { display: none; }
			}
			@media(max-width: 736px) {
				.et_header_style_centered #main-header .site-identity .logo_container .site_title { margin-top: 15px; }
			}
			@media(min-width: 769px) {
				.et_header_style_centered #top-menu-nav { display: inline-block!important; }
			}
			@media(max-width: 768px) {
				.et_header_style_centered #main-header #et-top-navigation { height: 47px; }
			}
			.et_header_style_centered #main-header .site-navigation #et-top-navigation ul li a { padding-bottom: 0; font-weight: 400; color: #333; height: 100%; display: flex; align-items: center; }
				@media(max-width: 768px) {
					.et_header_style_centered #main-header .site-navigation #et-top-navigation ul li a { padding-bottom: 4%; }
				}
			.et_header_style_centered #main-header .site-navigation #et-top-navigation .current-menu-item { border-bottom: 3px solid #800000; }
			.et_header_style_centered #main-header .site-navigation #et-top-navigation .current-menu-item a { color: #4D0000; font-weight: 600; }
			.et_header_style_centered #main-header .site-navigation #et-top-navigation #top-menu .sub-menu li a { padding-bottom: 6px; }
			@media(min-width: 769px) {
				.et_header_style_centered #et-top-navigation #et_mobile_nav_menu { display: none; }
			}
			@media(max-width: 768px) {
				.et_header_style_centered #et-top-navigation #et_mobile_nav_menu { margin-top: 0; width: 50%; }
			}
			@media(max-width: 600px) {
				.et_header_style_centered #et-top-navigation #et_mobile_nav_menu { width: 75%; }
			}
			@media(max-width: 375px) {
				.et_header_style_centered #et-top-navigation #et_mobile_nav_menu { width: 100%; }
			}
			@media(max-width: 768px) {
				.et_header_style_centered #main-header .mobile_nav { background-color: transparent; }
			}
			@media(max-width: 768px) {
				.et_header_style_centered .mobile_nav .select_page { display: none; }
			}
			@media(max-width: 768px) {
				.et_header_style_centered .et_menu_container .mobile_menu_bar { display: flex; justify-content: center; position: relative; }
			}
			.et_header_style_centered .et-search-form input { top: 0; }

/* General Style Overrides */
	#et-main-area .et_pb_bg_layout_light p { color: #4d4d4d; }
	#et-main-area blockquote { border-color: #155F83; }
	#et-main-area .et_pb_member_social_links a { border-bottom: none!important; }
	#et-main-area .et_pb_member_social_links a span { display: inline-block; text-indent: -99999px; }
	#et-main-area .et_pb_scroll_top span { display: inline-block; text-indent: -99999px; }
	#et-main-area .et_pb_toggle a:not(.img) { color: #800000; border-bottom: 1px dotted; }
	#et-main-area .et_pb_toggle a:not(.img):hover { color: #4D0000; border-bottom: 1px solid; }
	#et-main-area .et_pb_tab a:not(.img) { color: #800000; border-bottom: 1px dotted; }
	#et-main-area .et_pb_tab a:not(.img):hover { color: #4D0000; border-bottom: 1px solid; }
	#et-main-area .et_pb_bg_layout_light .et_pb_gallery_pagination ul li .active { font-weight: 600; }
	#et-main-area .et_pb_bg_layout_light .et_pb_gallery_pagination ul li a:not(.active) { color: #4D4D4D; border-bottom: none!important; }
	#et-main-area .et_pb_bg_layout_light .et_pb_gallery_pagination ul li a:hover { color: #4D0000; }
	.error404 #et-main-area #main-content .container:before { display: none; }

	@media(max-width: 980px) {
		#et-main-area .et_pb_section_0 { padding-top: 0; padding-bottom: 0; }
	}

/* Link Overrides */
	/* H1 Link Styles */
		#et-main-area .et_pb_bg_layout_light h1 a { color: #800000; border-bottom: 1px dotted; }
		#et-main-area .et_pb_bg_layout_light h1 a:hover { color: #4D0000; border-bottom: 1px solid; }
		#et-main-area .et_pb_bg_layout_dark h1 a { color: white; border-bottom: 1px dotted; }
		#et-main-area .et_pb_bg_layout_dark h1 a:hover { border-bottom: 1px solid; }

	/* H2 Link Styles */
		#et-main-area .et_pb_bg_layout_light h2 a { color: #800000; border-bottom: 1px dotted; }
		#et-main-area .et_pb_bg_layout_light h2 a:hover { color: #4D0000; border-bottom: 1px solid; }
		#et-main-area .et_pb_bg_layout_dark h2 a { color: white; border-bottom: 1px dotted; }
		#et-main-area .et_pb_bg_layout_dark h2 a:hover { border-bottom: 1px solid; }

	/* H3 Link Styles */
		#et-main-area .et_pb_bg_layout_light h3 a { color: #800000; border-bottom: 1px dotted; }
		#et-main-area .et_pb_bg_layout_light h3 a:hover { color: #4D0000; border-bottom: 1px solid; }
		#et-main-area .et_pb_bg_layout_dark h3 a { color: white; border-bottom: 1px dotted; }
		#et-main-area .et_pb_bg_layout_dark h3 a:hover { border-bottom: 1px solid; }

	/* H4 Link Styles */
		#et-main-area .et_pb_bg_layout_light h4 a { color: #800000; border-bottom: 1px dotted; }
		#et-main-area .et_pb_bg_layout_light h4 a:hover { color: #4D0000; border-bottom: 1px solid; }
		#et-main-area .et_pb_bg_layout_dark h4 a { color: white; border-bottom: 1px dotted; }
		#et-main-area .et_pb_bg_layout_dark h4 a:hover { border-bottom: 1px solid; }

	/* H5 Link Styles */
		#et-main-area .et_pb_bg_layout_light h5 a { color: #800000; border-bottom: 1px dotted; }
		#et-main-area .et_pb_bg_layout_light h5 a:hover { color: #4D0000; border-bottom: 1px solid; }
		#et-main-area .et_pb_bg_layout_dark h5 a { color: white; border-bottom: 1px dotted; }
		#et-main-area .et_pb_bg_layout_dark h5 a:hover { border-bottom: 1px solid; }

	/* H6 Link Styles */
		#et-main-area .et_pb_bg_layout_light h6 a { color: #800000; border-bottom: 1px dotted; }
		#et-main-area .et_pb_bg_layout_light h6 a:hover { color: #4D0000; border-bottom: 1px solid; }
		#et-main-area .et_pb_bg_layout_dark h6 a { color: white; border-bottom: 1px dotted; }
		#et-main-area .et_pb_bg_layout_dark h6 a:hover { border-bottom: 1px solid; }

	/* Paragraph Link Styles */
		#et-main-area .et_pb_bg_layout_light p a { color: #800000; border-bottom: 1px dotted; }
		#et-main-area .et_pb_bg_layout_light p a:hover { color: #4D0000; border-bottom: 1px solid; }
		#et-main-area .et_pb_bg_layout_dark p a { color: white; border-bottom: 1px dotted; cursor: pointer; }
		#et-main-area .et_pb_bg_layout_dark p a:hover { border-bottom: 1px solid; }

	/* Bullet List Link Styles */
		#et-main-area .et_pb_bg_layout_light ul li a { color: #800000; border-bottom: 1px dotted; }
		#et-main-area .et_pb_bg_layout_light ul li a:hover { color: #4D0000; border-bottom: 1px solid; }
		#et-main-area .et_pb_bg_layout_dark ul li a { color: white; border-bottom: 1px dotted; }
		#et-main-area .et_pb_bg_layout_dark ul li a:hover { border-bottom: 1px solid; }

	/* Numbered List Link Styles */
		#et-main-area .et_pb_bg_layout_light ol li a { color: #800000; border-bottom: 1px dotted; }
		#et-main-area .et_pb_bg_layout_light ol li a:hover { color: #4D0000; border-bottom: 1px solid; }
		#et-main-area .et_pb_bg_layout_dark ol li a { color: white; border-bottom: 1px dotted; }
		#et-main-area .et_pb_bg_layout_dark ol li a:hover { border-bottom: 1px solid; }

/* Sidebar Widget Area Overrides */
	#et-main-area #main-content .et_pb_widget_area.et_pb_bg_layout_light .widget_search #searchsubmit { background-color: #800000; color: white; border: none; }
	.search-results #et-main-area #main-content .widget_search #searchsubmit { background-color: #800000; color: white; border: none; }
	.search-results #et-main-area #main-content #sidebar .et_pb_widget ul li a { color: #800000; border-bottom: 1px dotted; }
	.search-results #et-main-area #main-content #sidebar .et_pb_widget ul li a:hover { color: #4D0000; border-bottom: 1px solid; }
	.search-results #et-main-area #main-content #left-area a:not(.entry-featured-image-url) { color: #800000; border-bottom: 1px dotted; }
	.search-results #et-main-area #main-content #left-area a:not(.entry-featured-image-url):hover { color: #4D0000; border-bottom: 1px solid; }
	#et-main-area #main-content .et_pb_widget_area .et_pb_widget ul li a { color: #800000; border-bottom: 1px dotted; }
	#et-main-area #main-content .et_pb_widget_area .et_pb_widget ul li a:hover { color: #4D0000; border-bottom: 1px solid; }

/* Posts Grid Overrides */
	#et-main-area #main-content .et_pb_posts .et_pb_post { margin-bottom: 30px; }
	#et-main-area #main-content .et_pb_posts .et_pb_post .post-content .more-link { color: #800000; border-bottom: 1px dotted; display: inline-flex; }
	#et-main-area #main-content .et_pb_posts .et_pb_post .post-content .more-link:hover { color: #4D0000; border-bottom: 1px solid; }

/* Slider Module Overrides */
	.et-pb-arrow-next span, .et-pb-arrow-prev span { display: inline-block; text-indent: -999999px; }
	.et_pb_slider .et-pb-controllers a { width: 15px; height: 15px; }

/* Blog Grid Module Overrides */
	.et_pb_blog_grid h3 a { color: #800000; border-bottom: 1px dotted; line-height: normal; }
	.et_pb_blog_grid h3 a:hover { color: #4D0000; border-bottom: 1px solid; }
	.et_pb_blog_grid .et_pb_post .post-content .post-content-inner p { color: #4d4d4d; }
	.et_pb_blog_grid .pagination a { color: #800000; border-bottom: 1px dotted; }
	.et_pb_blog_grid .pagination a:hover { color: #4D0000; border-bottom: 1px solid; }

/* Post Style Overrides */
	.post-template-default #et-main-area .et_pb_post .post-meta a { color: #800000; border-bottom: 1px dotted; }
	.post-template-default #et-main-area .et_pb_post .post-meta a:hover { color: #4D0000; border-bottom: 1px solid; }
	.post-template-default #et-main-area .et_pb_post .entry-content a { color: #800000; border-bottom: 1px dotted; }
	.post-template-default #et-main-area .et_pb_post .entry-content a:hover { color: #4D0000; border-bottom: 1px solid; }
	.post-template-default #et-main-area .et_pb_post #comment-wrap a { color: #800000; border-bottom: 1px dotted; }
	.post-template-default #et-main-area .et_pb_post #comment-wrap a:hover { color: #4D0000; border-bottom: 1px solid; }
	.post-template-default #et-main-area .et_pb_post #comment-wrap .comment-reply-link { border-bottom: 2px solid!important; }
	.post-template-default #et-main-area .et_pb_post .comment-body a { color: #800000; border-bottom: 1px dotted; }
	.post-template-default #et-main-area .et_pb_post .comment-body a:hover { color: #4D0000; border-bottom: 1px solid; }
	.post-template-default #et-main-area .et_pb_post .comment-respond .comment-form .submit { color: #800000; }
	.post-template-default #et-main-area .et_pb_post .comment-respond .comment-form .submit:hover { background-color: white; border-bottom: 2px solid; }
	.post-template-default #et-main-area #sidebar .widget_search #searchsubmit { background-color: #800000; color: white; border: none; }
	.post-template-default #et-main-area #sidebar .et_pb_widget a { color: #800000; border-bottom: 1px dotted; }
	.post-template-default #et-main-area #sidebar .et_pb_widget a:hover { color: #4D0000; border-bottom: 1px solid; }

/* News Page/Blog Feed Style Overrides */
	.blog #et-main-area #left-area .entry-title a { color: #800000; border-bottom: 1px dotted; }
	.blog #et-main-area #left-area .entry-title a:hover { color: #4D0000; border-bottom: 1px solid; }
	.blog #et-main-area #left-area .post-meta a { color: #800000; border-bottom: 1px dotted; }
	.blog #et-main-area #left-area .post-meta a:hover { color: #4D0000; border-bottom: 1px solid; }
	.blog #et-main-area #left-area .post-meta span a { color: #800000; border-bottom: 1px dotted; }
	.blog #et-main-area #left-area .post-meta span a:hover { color: #4D0000; border-bottom: 1px solid; }
	.blog #et-main-area #sidebar .et_pb_widget ul li a { color: #800000; border-bottom: 1px dotted; }
	.blog #et-main-area #sidebar .et_pb_widget ul li a:hover { color: #4D0000; border-bottom: 1px solid; }

/* Formidable Form Style Overrides */
	.frm_style_formidable-style.with_frm_style .frm_error_style { border: 1px solid #B94A48; color: white; background-color: #B94A48; }

/* Footer Styles */
	#main-footer { background-color: #404040; }
	#main-footer .container .footer-row { display: flex; flex-direction: row; padding: 60px 0; }
		@media(max-width: 768px) {
			#main-footer .container .footer-row { flex-direction: column; }
		}
	#main-footer .container .footer-row .site_information { display: flex; flex-direction: row; }
		@media(max-width: 768px) {
			#main-footer .container .footer-row .site_information { flex-direction: column; margin-bottom: 10px; }
		}
	#main-footer .container .footer-row .site_information .wordmark { opacity: .75; }
		@media(max-width: 768px) {
			#main-footer .container .footer-row .site_information .wordmark { text-align: center; }
		}
	@media(max-width: 768px) {
		#main-footer .container .footer-row .site_information .wordmark img { width: 60%; }
	}
	#main-footer .container .footer-row .site_information #et-contact-info { margin-left: 30px; }
		@media(max-width: 768px) {
			#main-footer .container .footer-row .site_information #et-contact-info { text-align: center; margin-left: 0; margin-top: 20px; }
		}
	@media(max-width: 768px) {
		#main-footer .container .footer-row .site_information #et-contact-info .footer-contact { display: flex; flex-direction: column; align-items: center; }
	}
	@media(max-width: 768px) {
		#main-footer .container .footer-row .site_information #et-contact-info .footer-contact a { width: fit-content; }
	}
	#main-footer .container .footer-row .site_information #et-contact-info address { color: #d6d6ce; font-style: normal; font-size: 12px; }
	#main-footer .container .footer-row .site_information #et-contact-info a { color: #d6d6ce; font-size: 12px; border-bottom: 1px dotted; }
	#main-footer .container .footer-row .site_information #et-contact-info a:hover { border-bottom: 1px solid; color: white; }
	#main-footer .container .footer-row #footer-widgets { width: 100%; margin-left: 30px; padding: 0; display: flex; }
		@media(max-width: 980px) {
			#main-footer .container .footer-row #footer-widgets { margin-left: 10px; }
		}
		@media(max-width: 768px) {
			#main-footer .container .footer-row #footer-widgets { flex-direction: column; margin-left: 0; }
		}
	#main-footer .container .footer-row #footer-widgets .footer-widget { color: #d6d6ce; font-size: 12px; margin-bottom: 0; }
		@media(max-width: 768px) {
			#main-footer .container .footer-row #footer-widgets .footer-widget { margin: 10px 0!important; width: 100%!important; }
		}
	@media(max-width: 980px) {
		#main-footer .container .footer-row #footer-widgets .footer-widget .fwidget { width: 100%; text-align: center; }
	}
	#main-footer .container .footer-row #footer-widgets .footer-widget .title { color: #d6d6ce; font-size: 16px; }
	#main-footer .container .footer-row #footer-widgets .footer-widget li { padding-left: 0; }
	#main-footer .container .footer-row #footer-widgets .footer-widget li:before { display: none; }
	#main-footer .container .footer-row #footer-widgets .footer-widget li a { color: #D6D6CE; font-size: 12px; border-bottom: 1px dotted; }
	#main-footer .container .footer-row #footer-widgets .footer-widget li a:hover { border-bottom: 1px solid; color: white; }
	#main-footer #et-footer-nav { display: none; }
	#main-footer #footer-bottom { background-color: #404040; border-top: 1px solid #333; padding: 0; }
	#main-footer #footer-bottom .container #footer-info { color: #fafafa; font-size: 12px; }
	#main-footer #footer-bottom .container .et-social-icons li a { font-size: 12px; color: #d6d6ce; }
	#main-footer #footer-bottom .container .et-social-icons li a:hover { color: white; opacity: 1; }
	#main-footer #footer-bottom .copyright { border-top: 1px solid #4D4D4D; }
	#main-footer #footer-bottom .copyright .container { padding-top: 6px; }
	#main-footer #footer-bottom .copyright .container .et-social-icon span { display: inline-block; text-indent: -99999px; }

	@media(max-width: 768px) {
	.et_pb_widget_area { display: flex; flex-direction: column; }
}

/* EXTRA STYLES IN CASE THEY'RE NECESSARY LATER */
	/* Extra Secondary Header Styles */
		#et-info { width: 100%; display: flex; align-items: center; justify-content: center; padding-bottom: 0; }
		#et-info-phone:before { top: 0; }
		#top-header .et-social-icons { display: inline-flex; justify-content: center; width: 100%; }
